.canvasSection{
	margin-top: -2px;
	position: relative;
}
#backgroundGrid{
	position: absolute;
	width: 960px;
	height: 720px;
	left: 0px;
	top: 0px;
}
#editor{
	position: absolute;
	width: 960px;
	height: 720px;
	left: 0px;
	top: 0px;
}
.dropdown-menu2{
	background-color: rgb(36,38,51);  width:30px;  margin-left: 96px; margin-top: -90px;
}

#logoimage{
	background-image:url(img/logo.jpg);
	width: 111px;
	height: 75px;
	margin-left: -14px;
margin-top: -2px;
	margin-top: 10px;
}

#ThicknessButton{
	background-image:url(img/b4b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#ThicknessButton:focus{
	background-image:url(img/b4a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
	
}
#ThicknessButton:hover
	background-image:url(img/b4a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}

#ColorButton{
	background-image:url(img/b3b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#ColorButton:enabled{
	background-image:url(img/b3b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#ColorButton:focus{
	background-image:url(img/b3a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
	
}
#ColorButton:hover
	background-image:url(img/b3a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
.colorli:enabled{
	background-color: rgb(36,38,51);
	width: 30px;
}
.colorli:hover{
	background-color: rgb(50,50,70);
}

#btn-white{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
	
}
#btn-white:hover{
	background-color: rgb(50,50,70);
	
}
#btn-orange{
	color: rgb(255,144,0);
	background-color: rgb(36,38,51);
	
}
#btn-red:hover{
	background-color: rgb(50,50,70);
	
}
#btn-red{
	color: rgb(255,0,0);
	background-color: rgb(36,38,51);
	
}
#btn-orange:hover{
	background-color: rgb(50,50,70);
	
}
#BackgroundButton{
	background-image:url(img/b2b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}

#BackgroundButton:enabled{
	background-image:url(img/b2b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#BackgroundButton:focus{
	background-image:url(img/b2a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
	
}
#BackgroundButton:hover
	background-image:url(img/b2a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#btn-rainbow{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
}
#btn-rainbow:first-child{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
}
#btn-rainbow:hover{
	color: rgb(0,0,180);
	background-color: rgb(50,50,70);
}
#btn-sinelon{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
}
#btn-sinelon:hover{
	color: rgb(0,0,180);
	background-color: rgb(50,50,70);
}
#btn-juggle{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
}
#btn-juggle:hover{
	color: rgb(0,0,180);
	background-color: rgb(50,50,70);
}

#PathButton{
	background-image:url(img/b1b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#PathButton:enabled{
	background-image:url(img/b1b.jpg);
	background-repeat:no-repeat;
	margin-left:-14px;
	width: 111px;
	height: 90px;
}
#PathButton:focus{
	background-image:url(img/b1a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
	
}
#PathButton:hover
	background-image:url(img/b1a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#btn-path1{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
	padding: 0px 0px;
}
#btn-path1:first-child{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
}
#btn-path1:hover{
	color: rgb(0,0,180);
	background-color: rgb(50,50,70);
}
#btn-path2{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
}
#btn-path2:hover{
	color: rgb(0,0,180);
	background-color: rgb(50,50,70);
}
#btn-path3{
	color: rgb(255,255,255);
	background-color: rgb(36,38,51);
}
#btn-path3:hover{
	color: rgb(0,0,180);
	background-color: rgb(50,50,70);
}

#btn-shape{
	background-image:url(img/b5b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#btn-shape:enabled{
	background-image:url(img/b5b.jpg);
	background-repeat:no-repeat;
	margin-left:-14px;
	width: 111px;
	height: 90px;
}
#btn-shape:focus{
	background-image:url(img/b5a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
	
}
#btn-shape:hover
	background-image:url(img/b5a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}

#btn-clear{
	background-image:url(img/b6b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#btn-clear:enabled{
	background-image:url(img/b6b.jpg);
	background-repeat:no-repeat;
	margin-left:-14px;
	width: 111px;
	height: 90px;
}
#btn-clear:focus{
	background-image:url(img/b6a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
	
}
#btn-clear:hover
	background-image:url(img/b6a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}

#btn-go{
	background-image:url(img/b7b.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}
#btn-go:enabled{
	background-image:url(img/b7b.jpg);
	background-repeat:no-repeat;
	margin-left:-14px;
	width: 111px;
	height: 90px;
}
#btn-go:focus{
	background-image:url(img/b7a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
	
}
#btn-go:hover
	background-image:url(img/b7a.jpg);
	background-repeat:no-repeat;
	margin-left: -14px;
margin-top: -2px;
	width: 111px;
	height: 90px;
}