.canvasSection{
	margin-top: 100px;
	position: relative;
}
#backgroundGrid{
	position: absolute;
	width: 960px;
	height: 720px;
	left: 0px;
	top: 0px;
}
#editor{
	position: absolute;
	width: 960px;
	height: 720px;
	left: 0px;
	top: 0px;
}